<div class="container">
  
  <div class="span12">


<div id="carousel_container">
    <div class="carousel_title">
        titulo de la categoria
        <div class="pull-right">
            <button class="btn">See all products</button>
        </div>   
    </div>

    <div id="carousel">
        <% @products.each do |product| %>
                <div class="span2"><%= image_tag product.photo.url(:medium) %></div> 
        <% end %>
    </div>
    <a href="#" class="carousel_prev" id="carousel_prev"></a> 
    <a href="#" class="carousel_next" id="carousel_next"></a>     
</div>    

  </div>
</div>